name: Update Conflict Map
on:
  schedule:
    - cron: '*/10 * * * *' # Автоматично на всеки час
  workflow_dispatch: # Ръчен бутон

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests geopy beautifulsoup4

      - name: Run bot
        run: python bot.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add conflicts.json
          git commit -m "Auto-update map data" || exit 0
          git push
